# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de construcción de Sphinx
docs/build/

# Otros archivos comunes a ignorar (opcional, pero buena práctica)
.DS_Store
Thumbs.db
*.swp
*.swo
